html, body{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
body{
    background-color: rgba(253, 239, 230);
}
.title{
    background-color:rgba(253, 239, 230);
    height:350px;
    color:#5b4b00;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.fakeTitle{
    height: 350px;
    width: 100%;
}

.title img{
    animation: peepin 3s ease;
    width: 100%;
    max-width: 500px;
    height: auto;
    position: relative;
}

@keyframes peepin{
    0%{top:200px;}
    100%{top:0;}
}

.text{
    font-family: 'Coiny', cursive;
    font-size: 60px;
    width: 100%;
}

.selectBar{
    display: flex;
    justify-content: flex-end;
    height:50px;
    background-color:#ffbd9d;
}

.selectBar a{
    box-sizing: border-box;
    font-size: 25px;
    letter-spacing: 0.08em;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    /*border:2px solid #ff9d6f;*/
    /*transform: rotate(-12deg);*/
    padding:10px;
    margin-right:20px;
    font-family: 'Righteous', cursive;
}

@media (max-width: 485px){
    .selectBar a{
        font-size: 5vw;
    }
}

.selectBar a:hover, .selectBar .selected{
    color:white;
    cursor:pointer;
    border-bottom: 10px solid #ffa273;
    transition:color 0.4s,border 0.4s;
}

footer{
    color:white;
    letter-spacing: 6px;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    background-color:rgb(70, 36, 16);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

footer img{
    height:60px;
    padding: 0px 15px 0px 15px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.container{
    display:flex;
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    background-color:rgba(253, 239, 230);
}

.butt{
    width: 100%;
    border-top: solid 50px #ffbd9d;
    overflow: hidden;
}
.butt .img{
    background-image: url("img/tumblr_nw8mthksql1qfkm6lo1_640.gif.png");
    background-size: 800px auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 90%;
    margin: 0 auto;
    max-width: 800px;
    height: 300px;
}
@media (max-width: 800px){
    .butt .img{
        background-size: 100% auto;
        height: 40vw;
    }
}

.container .ghostlayer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ghostlayer img{
    position: relative;
    box-sizing: border-box;
    border: solid 2px lightsalmon;
}
.centerBox{
    width: 1010px;
    height: 100%;
    margin: 0 auto;
}
.clothFolder{
    display: inline-block;
    width: 500px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    float: left;
    overflow-y: scroll;
    border-left:3px solid lightsalmon;
    border-right:3px solid lightsalmon;
    box-sizing: border-box;
}

.clothFolder::-webkit-scrollbar { 
    display: none; 
}

.centerBox canvas{
    display: inline-block;
    float: left;
}
.clothFolder img{
    display: inline-block;
    width: 100%;
    max-width: 118px;
    margin-left: 5px;
}
.rightHandSide{
    width: 500px;
    float: left;
}

.tray{
    box-sizing: border-box;
    padding: 1em 0.5em 0.05em 0.5em;
    margin: 0 auto;
    width: 6em;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 4px black;
}
.tray i:hover{
    cursor: pointer;
    color: lightsalmon;

}
.clearFloat{
    clear: both;
}