body,html{
    margin: 0px;
    padding:0px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes change {
    from{
        box-shadow: #ffffff 10px 10px 15px 0px;
    }
    to{
        box-shadow: #333030c4 10px 10px 15px 0px;
    }
}

@keyframes loadbar {
    0%{
        width:0px;
        background-color: rgba(253, 239, 230);
    }
    50%{
        width:250px;
        background-color:#ffbd9d;
    }
    100%{
        width:500px;
        background-color: lightsalmon;
    }
}

.title{
    background-color:rgba(253, 239, 230);
    height:500px;
    color:#5b4b00;
    text-align: center;
}

.title img{
    animation: fadein 3s;
}

.text{
    font-family: 'Coiny', cursive;
    font-size: 60px;
    padding-top:118px;
    animation: fadein 3s;
}

.content{
    background-color:rgba(253, 239, 230);
}

.content a{
    text-decoration: none;
}

.contain{
    display: flex;
    font-family: 'Noto Sans TC', sans-serif;
}

.intro p{
    position: relative;
}

.img{
    width:300px;
    background-image: url("Webp.net-gifmaker.gif");
    background-position-x: -340px;
    background-position-y:  160px;
    background-repeat: no-repeat;
    background-color: white;
}

.intro{
    -webkit-flex: 1;
    flex: 1;
}

.intro a{
    animation: change 2s;
    margin:50px;
    display: block;
    height: 200px;
    margin-bottom: 3em;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: #333030c4 10px 10px 15px 0px;
    transition: all 1s;
    -webkit-transition: all 1s;
    position: relative;
}

.selectBar{
    display: flex;
    justify-content: flex-end;
    height:50px;
    background-color:#ffbd9d;
}

.selectBar a{
    box-sizing: border-box;
    font-size: 25px;
    letter-spacing: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    /*border:2px solid #ff9d6f;*/
    /*transform: rotate(-12deg);*/
    padding:10px;
    margin-right:20px;
    font-family: 'Righteous', cursive;
}

.selectBar a:hover{
    color:white;
    cursor:pointer;
    border-bottom: 10px solid #ffa273;
    transition:color 0.4s,border 0.4s;
}

footer{
    color:white;
    letter-spacing: 6px;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    background-color:rgb(70, 36, 16);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

footer img{
    height:60px;
    padding: 0px 15px 0px 15px;
    background-size: contain;
    background-repeat: no-repeat; 
}

.Author1 img{
    margin-top:50px;
    margin-left: 40px;
    border-radius: 100px;
    border:2px solid #ffbd9d;
    height:100px;
    width:100px;
}

.Author1 p{
    bottom:120px;
    left:170px;
}

.Author2 img{
    margin-top:50px;
    margin-left: 40px;
    border-radius: 100px;
    border:2px solid #af9dff;
    height:100px;
    width:100px;
}

.Author2 p{
    bottom:120px;
    left:170px;
}

.design1 img{
    margin-top:50px;
    margin-left: 40px;
    border-radius: 100px;
    border:2px solid #ffbd9d;
    height:100px;
    width:100px;
}

.design1 p{
    bottom:120px;
    left:170px;
}

.program1 img{
    margin-top:50px;
    margin-left: 40px;
    border-radius: 100px;
    border:2px solid #42a139;
    height:100px;
    width:100px;
}

.program1 p{
    bottom:120px;
    left:170px;
}

.program2 img{
    margin-top:50px;
    margin-left: 40px;
    border-radius: 100px;
    border:2px solid #ffbd9d;
    height:100px;
    width:100px;
}

.program2 p{
    bottom:120px;
    left:170px;
}


.hidden{
    display:none!important;
}

.loading{
    background-color: rgba(0, 0, 0, 0.90);
    height:100vh;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar{
    height:30px;
    width:500px;
    animation: loadbar 2s;
    background: -webkit-linear-gradient(left,rgba(253, 239, 230),#ffbd9d,lightsalmon);
}

.intro a:hover{
    box-shadow: #ffffff 0px 0px 0px 0px;
    transform: translate(10px,10px);
}

.selected{
    color:white!important;
    cursor:pointer;
    border-bottom: 10px solid #ffa273;
    transition:color 0.4s,border 0.4s;
}