html, body{
    margin:0;
    padding:0;
}
body{
    background-color: rgba(253, 239, 230);
}
.banner{
    width: 100%;
    height: 300px;
    background-color: rgba(253, 239, 230);
}
.menu{
    display: flex;
    justify-content: flex-end;
    height:50px;
    background-color:#ffbd9d;
}
.menu a{
    font-size: 25px;
    letter-spacing: 2px;
    padding:10px;
    margin-right:20px;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
}
.menu a:hover{
    border-bottom: solid 10px #ffa273;
}
.container{
    max-width: 1225px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto 10px auto;
}
.container img{
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
}

footer{
    color:white;
    letter-spacing: 6px;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    background-color:rgb(70, 36, 16);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

footer img{
    height:60px;
    padding: 0px 15px 0px 15px;
    background-size: contain;
    background-repeat: no-repeat; 
}
.lightBox{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
    box-sizing: border-box;
}

.lightBox i{
    font-size: 10em;
    color: white;
}

@media (max-width: 500px){
    .lightBox i{
        display: none;
    }
}

.lightBox i:hover{
    color: #DDDDDD;
    cursor: pointer;
}

.imgContain{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightBox img{
    max-width: 100%;
    max-height: 100%;
}